<div class="footer bg-light">
    <div class="row mw-100">
        <div class="col-4"></div>
        <div class="col-4 py-2 text-center">
           <span class="text-muted">&copy; 2022</span>
        </div>
        <div class="col-4 d-flex justify-content-center align-content-center flex-wrap">
            <div class="align-content-center">
                <a href="" target="_blank"><img src="/imgs/footer/facebook.svg" alt="Facebook"></a>
            <a href="" target="_blank"><img src="/imgs/footer/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>