<div class="modal fade" id="callBackModal" tabindex="-1" aria-labelledby="callBackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="callBackModalLabel">Замовити дзвінок</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/contacts/callback" method="POST">
          <label for="nav-callBackPhone" class="form-label">Введуть ваш номер і ми вам перетелефонуємо</label>
          <div class="d-flex mb-2">
            <input type="tel" id="nav-callBackPhone" class="form-control" name="callBackPhone" placeholder="+38(000)000-00-00" maxlength="17">
            <button type="submit" class="btn btn-light btn-outline-success ms-1">Замовити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>