<nav id="navbar" class="navbar navbar-expand-lg navbar-dark  py-3">
  <div class="container-fluid">
    <!-- ======================================================================= -->
    <a class="navbar-brand py-0" href="/">
      <img class="p-0" src="/imgs/navbar/logo.svg" alt="" width="40" height="40">
    </a>
    <!-- ======================================================================= -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/imgs/navbar/menu.svg" alt="" class="d-flex" width="30" height="30">
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav text-center">
        <!-- --------------------------------------------------- -->  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            ПОРТФОЛІО
          </a>
          <div id="nav-catalog" class="dropdown-menu mw-100" aria-labelledby="navbarDropdown" >
            <div class="d-flex">

              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/1.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">КУХНІ</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=kitchens">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>
              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/2.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">ШАФИ</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=wardrobes">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>
              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/3.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">ВІТАЛЬНІ</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=living">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>
              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/1.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">КОМОДИ<br>ТА ТУМБИ</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=chests">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>
              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/2.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">ПЕРЕДПОКІЙ</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=hallways">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>
              <div class="nav-catalog-item">
                <figure class="card text-white m-2 catalog-card border-0">
                  <img src="/imgs/main/3.jpg" alt="..."/>
                  <figcaption class="card-img-overlay d-flex flex-column justify-content-center">
                    <h5 class="card-title m-0 text-center">ВИРОБИ<br>ЗІ СКЛА</h5>
                    <p class="text-center">детальніше</p>
                    <a href="/catalog?category=glass">натисніть щоб перейти</a>
                  </figcaption>     
                </figure>
              </div>

            </div>
          </div>
        </li>
        <!-- --------------------------------------------------- -->
        <div class="vr d-none d-lg-inline-block text-white mx-3"></div>
        <li class="nav-item">
          <a class="nav-link" href="/shop">МАГАЗИН</a>
        </li>
        <!-- --------------------------------------------------- -->
        <div class="vr d-none d-lg-inline-block text-white mx-3"></div>
        <li class="nav-item">
          <a class="nav-link" href="/actions">АКЦІЇ</a>
        </li>
        <!-- --------------------------------------------------- -->
        <div class="vr d-none d-lg-inline-block text-white mx-3"></div>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">КОНТАКТИ</a>
        </li>
        <!-- --------------------------------------------------- -->
        <div class="vr d-none d-lg-inline-block text-white mx-3"></div>
        <li class="nav-item">
          <a class="nav-link" href="/orders">ЗАМОВЛЕННЯ</a>
        </li>
      </ul>
      <!-- ======================================================================= -->
      <div id="nav-phone" class="d-none d-lg-inline navbar-text ">
        <span>
          <img src="/imgs/navbar/telephone.svg" alt="" width="25" height="18">
          <a href="tel:+380981234567">+38 (098) 123 4567</a>
          <img src="/imgs/navbar/chevron-down.svg" id="drop-icon" alt="" width="25" height="18">
        </span>
        <div id="nav-phone-list">
          <ul>
            <li>
              <img src="/imgs/navbar/telephone.svg" alt="" width="25" height="18">
              <a href="tel:+380981234567">+38 (098) 123 4567</a>
            </li>
            <li>
              <img src="/imgs/navbar/telephone.svg" alt="" width="25" height="18">
              <a href="tel:+380981234567">+38 (098) 123 4567</a>
            </li>
          </ul>
          <div class="w-100 py-3 bg-success text-center">
              <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#callBackModal">Замовити дзвінок</a>
          </div> 
        </div>
      </div>
      <!-- ======================================================================= -->
      <div id="nav-user" class="text-white text-center">
        <% if (currentUser) { %>         
          <a class="nav-link dropdown-toggle p-0 pe-lg-4" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="p-1"><%= currentUser.username %></span>
            <img class="p-0 d-none d-lg-inline" src="/imgs/navbar/user.svg" alt="Мій кабінет" width="30" height="30">
            <span class="d-lg-none">МІЙ КАБІНЕТ</span>
          </a>
          <ul class="dropdown-menu text-center px-2" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="/profile">Мій профіль</a></li>
            <li><a class="dropdown-item" href="/my-orders">Мої замовлення</a></li>
            <li><hr class="dropdown-divider border-top"></li>
            <li>
              <form action="/logout" method="POST" class="d-grid">
                <button class="btn btn-outline-light">Вийти</button>
              </form>
            </li>
          </ul>
        <% } else { %> 
          <a class="align-self-lg-center text-white px-lg-4 py-2" href="/login">УВІЙТИ</a>
        <% } %> 
      </div>
      <!-- ======================================================================= -->
    </div>
  </div>
</nav>
<section id="flash" class="col-lg-6 offset-lg-3 text-center mt-1"><%-include('./flash')%></section>


