<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/boilerplate.css">
    <title>Furniture</title>
</head>
<body>
    <header class="container-fluid px-0">
        <%- include('../partials/navbar') %> 
    </header>
    
    <main class="container-fluid">
        <%-body%>   
        <button id="goToUp">UP</button>     
    </main>

    <footer class="container-fluid p-0 m-0">
        <%- include('../partials/footer') %> 
    </footer>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script type="module" src="/javascripts/boilerplate.js"></script>
    
</body>
</html>