<% layout('/layouts/boilerplate') %> 
<div class="row" style="margin-top: 6rem;">
    <h1>Категорія - <%= category %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo saepe molestiae ratione modi inventore, mollitia quis harum dolorum ullam nam veniam asperiores illum, suscipit eaque aliquam possimus, fugiat architecto sequi?</p>
    <% for(let product of products) { %>
        <div class="card" style="width: 18rem;">
            <img src="<%=product.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=product.title%></h5>
                <p class="card-text"><%=product.description%></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    <% } %> 
</div>
    
