<% layout('/layouts/boilerplate') %> 

<div class="row">
    <h3 class="text-center mt-3">Авторизація</h3>
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-10 offset-1 mt-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Нікнейм або email</label>
                <input type="text" class="form-control" id="username" name="username" autofocus required>
                <div class="invalid-feedback">
                    Це поле має бути заповнене.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="current-password" required>
                <div class="invalid-feedback">
                    Це поле має бути заповнене.
                </div>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary px-5">Увійти</button>
            </div>
        </form>
        <div class="text-center mt-4 pt-4 border-top">
            <h6>Не маєш аккаунта?</h6>
            <a href="/registration" class="btn btn-success">Зареєструватися</a>
        </div>
    </div>
</div>

<script src="/javascripts/validateForms.js"></script>