/* header {
	margin-bottom: 5rem;
} */

/* =================================== */
/* CONTACTS */
.contacts {
	margin-left: 0;
	padding-left: 0;
}
.contacts li {
	list-style-type: none;
}
/* =================================== */
/* NavBar */
.navbar {
	background-color: rgba(0, 0, 0, 0.6);
}
.nav-link {
	color: white;
	border-bottom: 0.1rem solid transparent;
}
.nav-link:hover {
	border-bottom-color: white;
}
.navbar-toggler {
	color: white;
	border: 0;
}
/* .myclass {
	border: 1px solid white;
	text-decoration: none;
} */
/* =================================== */
