<% layout('/layouts/boilerplate') %> 
<div class="row after-nav">
    <h1>Редагування акції</h1>
    <div class="col-8 offset-2">
        <form action="/actions/<%=action._id%>?_method=PUT" method="POST" novalidate class="validated-form needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Назва</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=action.title%>" required>
                <div class="invalid-feedback">
                    Це поле має бути заповнене.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Опис</label>
                <textarea class="form-control" name="description" id="description" rows="3" required><%=action.description%></textarea>
                <div class="invalid-feedback">
                    Це поле має бути заповнене.
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Фото <span class="text-muted">(попереднє фото буде видалено)</span></label>
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="mb-3">
                <label for="isActive" class="form-label">Статус акції</label>
                <select class="form-select" id="isActive" name="isActive" required>                    
                    <% if (action.isActive) { %> 
                        <option value="true" selected>Активна</option>
                        <option value="false">Завершена</option>
                    <% } else { %>
                        <option value="true">Активна</option>
                        <option value="false" selected>завершена</option>
                    <% } %>  
                </select>
                <div class="invalid-feedback">
                    Це поле має бути заповнене.
                </div> 
            </div>
            <div class="mb-3">
                <label for="finishDate" class="form-label">Діє до</label>
                <input type="date" class="form-control" id="finishDate" name="finishDate" 
                <% if (action.finishDate){ %>
                    value="<%=action.finishDate.toISOString().substr(0, 10)%>"
                <% } %>  
                >     
            </div>
            <div class="mb-3 col-6">
                <a href="/actions" class="btn btn-primary">Відмінити</a>
                <button type="submit" class="btn btn-primary">Зберегти</button>            
            </div>  
        </form>
    </div>
</div>
<script src="/javascripts/validateForms.js"></script>

